@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="main-navigation-container column-layout">
    <IgbNavbar class="navbar" main-navigation-scope>
        <div slot="start">
            <IgbButton Variant="ButtonVariant.Flat" @onclick="@(e => NavDrawer?.Toggle())" class="icon-button button" main-navigation-scope>
                <span class="material-icons">
                    menu
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div slot="end">
            <IgbButton Variant="ButtonVariant.Flat" class="icon-button button" main-navigation-scope>
                <span class="material-icons">
                    search
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="icon-button button" main-navigation-scope>
                <span class="material-icons">
                    favorite
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton Variant="ButtonVariant.Flat" class="icon-button button" main-navigation-scope>
                <span class="material-icons">
                    more_vert
                </span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
        <div>Testing Samples</div>
    </IgbNavbar>
    <div class="group row-layout">
        <IgbNavDrawer Open="true" Position="NavDrawerPosition.Relative" @ref="NavDrawer" class="nav-drawer" main-navigation-scope>
            <IgbNavDrawerHeaderItem class="nav-drawer-item" main-navigation-scope>
                <div slot="content">Layouts</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        view_quilt
                    </span>
                </span>
                <div slot="content">Flex layouts</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/position"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        my_location
                    </span>
                </span>
                <div slot="content">Position</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/tab-layout"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        tab
                    </span>
                </span>
                <div slot="content">Tab layout</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerHeaderItem class="nav-drawer-item" main-navigation-scope>
                <div slot="content">Content</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/card-calendar"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        calendar_today
                    </span>
                </span>
                <div slot="content">Card-Calendar</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/lists-data"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        list_alt
                    </span>
                </span>
                <div slot="content">List + data</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/data-grid-layouts"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        list_alt
                    </span>
                </span>
                <div slot="content">Data grid</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/type-scale"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        text_fields
                    </span>
                </span>
                <div slot="content">Type scale + text</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerHeaderItem class="nav-drawer-item" main-navigation-scope>
                <div slot="content">Inputs</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/inputs"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        keyboard
                    </span>
                </span>
                <div slot="content">Inputs + buttons</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/pickers-combo"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        arrow_drop_down_circle
                    </span>
                </span>
                <div slot="content">Pickers</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerHeaderItem class="nav-drawer-item" main-navigation-scope>
                <div slot="content">Notifications</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/dialogs-and-overlays"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        open_in_new
                    </span>
                </span>
                <div slot="content">Dialogs and overlays</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerHeaderItem class="nav-drawer-item" main-navigation-scope>
                <div slot="content">Misc</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/sign-in-page"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                </span>
                <div slot="content">Sign in</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerItem @onclick="@(e => Navigate("/image"))" class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        account_circle
                    </span>
                </span>
                <div slot="content">Images</div>
            </IgbNavDrawerItem>
            <IgbNavDrawerHeaderItem class="nav-drawer-item" main-navigation-scope>
                <div slot="content">Interactions</div>
            </IgbNavDrawerHeaderItem>
            <IgbNavDrawerItem class="nav-drawer-item_1" main-navigation-scope>
                <span slot="icon">
                    <span class="material-icons icon">
                        remove_red_eye
                    </span>
                </span>
                <div slot="content">Show/hide interacitons</div>
            </IgbNavDrawerItem>
        </IgbNavDrawer>
        <div class="view-container">
            @Body
        </div>
    </div>
</div>

@code {
    private IgbNavDrawer? NavDrawer;
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
